<!--==========================================
                   CERTIFICATION
===========================================-->
<section id="certification" class="section">
    <h4 class="text-uppercase text-center">Certification</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12">

                <!-- Social Links -->
                <div id="intro-div" class="card content-wrapper">
                 
                    <!-- Some Intro About You -->
                    <p class="text-center">
                        I am originally from Ghana, West African. I am self motivated, honest and a quick learner.
                        Software Development is my passion and I strive on learning something new about my field everyday. What I enjoy most about being a software engineer is the challenges I face everyday and the opportunity to develop a solution that would be utilized by many people.
                    </p>

                  
                </div>
            </div>
        </div>
    </div>
</section>
