<!--==========================================
                   EDUCATION
===========================================-->
<section id="education" class="section">
    <h4 class="text-uppercase text-center">Education</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">

                <!-- Timeline -->
                <div class="timeline center-block">
                    <ul>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Bachelor of Computer Information Systems</h3>
                                </div>

                                <!-- Institution, Period & result -->
                                <p class="sub-heading">Georgia State University - Atlanta, GA USA</p>
                                <p class="sub-heading">Robinson College of Business</p>
                                <p class="sub-heading">August 2008 - May 2012</p>

                               
                            </div>
                        </li>

                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Diploma</h3>
                                </div>

                                <!-- Institution, Period & result -->
                                <p class="sub-heading">Riverwood International Charter School - Sandy Springs, GA USA</p>
                                <p class="sub-heading">August 2004 - May 2008</p>

                            </div>
                        </li>

                    </ul>
                </div>
                <!-- End of Timeline -->
            </div>
        </div>
    </div>
</section>

