<!--==========================================
                   EXPERIENCE
===========================================-->
<section id="experience" class="section">
    <h4 class="text-uppercase text-center">Related Experience</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">

                <!-- Timeline -->
                <div class="timeline center-block">
                    <ul>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Senior Software Engineer</h3>
                                </div>

                                <!-- Organization and Period -->
                                <p class="sub-heading">Hirenami - Alpharetta, GA USA</p>
                                <p class="sub-heading">March 2018 - Present</p>
                                <p class="sub-heading"><a href="https://hirenami.com/" target="_blank">Visit Company Website</a></p>

                                <!-- Job Summary -->
                                <p class="content-p">
                                    •	Develop Web Applications using, JavaScript, Bootstrap, Html5, Angular 5+, Typescript, DynamoDB, ElasticCache
                                    •	Unit Testing.
                                    •	Develop Restful Services using .Net Web API
                                    •	Marketing and Hiring Software
                                    •	Continuous Integration: Team city and Octopus Continuous Integration.
                                    •	Code Review

                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Software Engineer</h3>
                                </div>

                                <!-- Organization and Period -->
                                <p class="sub-heading">PayGo Utilities - Alpharetta, GA USA</p>
                                <p class="sub-heading">May 2015 - March 2018</p>
                                <p class="sub-heading"><a href="http://paygoutilities.com/" target="_blank">Visit Company Website</a></p>

                                <!-- Job Summary -->
                                <p class="content-p">
                                    •	Develop Web Applications using ASP.NET MVC, C#, jQuery, MS SQL, JavaScript, Bootstrap, Html5, Angular 2+, Typescript, Node.js, MongoDB
                                    •	Unit Testing.
                                    •	Develop WCF Service, Restful Services using  .Net Web API
                                    •	Billing and Utilities Software
                                    •	Continuous Integration: Team city and Octopus Continuous Integration.
                                    •	Code Review

                                </p>
                            </div>
                        </li>

                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Application Engineer</h3>
                                </div>

                                <!-- Organization and Period -->
                                <p class="sub-heading">Bridgeline Digital - Norcross, GA USA</p>
                                <p class="sub-heading">May 2014 - May 2015</p>
                                <p class="sub-heading"><a href="http://www.bridgelinedigital.com/" target="_blank">Visit Company Website</a></p>

                                <!-- Job Summary -->
                                <p class="content-p">
                                    •	Develop Web Applications using ASP.NET, C#, jQuery, JavaScript, CSS, Html5, XSLT, and XML.
                                    •	Client facing, billable.
                                    •	Work with clients to gather requirements.
                                    •	Site Deployment.
                                    •	Production support.
                                    •	Content Management System, Ecommerce.

                                </p>
                            </div>
                        </li>

                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Jr .Net Application Developer</h3>
                                </div>

                                <!-- Organization and Period -->
                                <p class="sub-heading">Axiom Incorporated - Marietta, GA USA</p>
                                <p class="sub-heading">May 2012 - May 2014</p>
                                <p class="sub-heading"><a href="http://www.axiomssc.com/" target="_blank">Visit Company Website</a></p>
                                <!-- Job Summary -->
                                <p class="content-p">
                                    •	Web Applications: ASP.NET C#, jQuery, JavaScript, CSS, Html5, XSLT, and XML.
                                    •	Analyze code for problem resolution and performance optimizations.
                                    •	Creates tables, functions, stored procedures, Ad Hoc reports, views and queries.
                                    •	Creates reports using Crystal report for asp.net application in Visual Studio.
                                    •	Creates Windows and WCF Services.
                                    •	Insurance Claim Software.
                                </p>
                            </div>
                        </li>

                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">IT Developer (Intern)</h3>
                                </div>

                                <!-- Organization and Period -->
                                <p class="sub-heading">Georgia Department of Education - Atlanta, GA USA</p>
                                <p class="sub-heading">June 2011 - May 2012</p>
                                <p class="sub-heading"><a href="http://www.gadoe.org/" target="_blank">Visit Company Website</a></p>
                                <!-- Job Summary -->
                                <p class="content-p">
                                    •	Analyze code for problem resolution and performance optimizations.
                                    •	Create stored procedures, Ad Hoc reports, views and queries.
                                    •	Create PDF reports using Active report for asp.net application in Visual Studio.
                                    •	Create excel reports using store procedures for asp.net web applications.
                                    •	Design/Program asp.net web applications using C#.

                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- End of Timeline -->
            </div>
        </div>
    </div>
</section>

