<!--==========================================
                   GOALS
===========================================-->
<section id="goals" class="section">
    <h4 class="text-uppercase text-center">2018 Career Goals</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12">


                <!-- Social Links -->
                <div id="intro-div" class="card content-wrapper">       
                    <ol>
                        <li>Challenge myself through various personal projects.</li>
                        <li>Read at least 3 books of software development related books.</li>
                        @*<li>Get Certification.</li>*@
                    </ol>


                </div>
            </div>
        </div>
    </div>
</section>
