
<!--==========================================
                 HEADER
===========================================-->
<div id="header" class="shadow">
    <!-- Navigation -->
    <nav>
        <div class="nav nav-wrapper navbar-fixed-top">
            <div class="container-fluid">

                <!-- Menu Option -->
                <ul class="nav-justified hide-on-med-and-down">
                    <li><a href="#header">About</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">Skills</a></li>    
                    <li><a href="#experience">Experience</a></li>    
                    @*<li><a href="#certification">Certification</a></li>*@            
                    <li><a href="#projects">Personal Projects</a></li>
                    <li><a href="#goals">2018 Career Goals</a></li>
                </ul>

                <a href="#0" data-activates="nav-mobile" id="nav-btn" class="button-collapse nav-icon">
                    <i class="ion-navicon"></i>
                </a>

                <!-- Side Nav -->
                <div id="side-nav">
                    <div id="nav-header">
                        <div id="nav-profile" class="center-block">

                            <!-- Profile Picture [Square] -->
                            <img src="~/images/danielprofile.jpg">
                        </div>
                        <h6 class="text-center text-capitalize">Daniel Nana Sasu</h6>
                    </div>

                    <div id="nav-link-wrapper">

                        <!-- Side Menu Option -->
                        <ul>
                            <li><a class="nav-link" href="#header">About</a></li>
                            <li><a class="nav-link" href="#education">Education</a></li>
                            <li><a class="nav-link" href="#skills">Skills</a></li>
                            <li><a class="nav-link" href="#experience">Experience</a></li>
                            @*<li><a class="nav-link" href="#certification">Certification</a></li>*@
                            <li><a class="nav-link" href="#projects">Personal Projects</a></li>
                            <li><a class="nav-link" href="#goals">2017 Career Goals</a></li>
                        </ul>
                    </div>

                </div>
                <!-- ./Side Nav -->
                <!-- Side Nav Mask -->
                <div id="side-nav-mask"></div>

            </div>
        </div>
    </nav>

    <!-- Name and Status -->
    <div id="intro" class="container">
        <h1 class="text-center text-capitalize">Daniel Nana Sasu</h1>
        <h4 class="text-center text-capitalize">Software Engineer</h4>
    </div>
</div>
