
<!--==========================================
                 PROJECTS
===========================================-->
<section id="projects" class="section">
    <h4 class="text-uppercase text-center">Personal Projects</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">

                <!-- Timeline -->
                <div class="timeline center-block">
                    <ul>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">CommiHub - Online Services for property/residents services.</h3>
                                </div>

                                <p class="sub-heading">January 2018</p>
                                <p class="sub-heading"><a href="https://commihub.azurewebsites.net/" target="_blank">Visit Website</a></p>

                                <!-- Education Summary -->
                                <p class="content-p">
                                    <strong>Demo Accounts</strong><br />
                                    <span>Management Company:  <strong>dsasuagency@mailinator.com </strong></span> <br/>
                                    <span>Management Personnel: <strong>dsasustaff@mailinator.com</strong></span> <br />
                                    <span>Tenant: <strong>dsasutenant@mailinator.com</strong></span> <br/>
                                    <span>Password: <strong>demo@1</strong></span>
                                </p>
                                <p class="content-p">
                                    Another way of sharpening my skills. This is an idea I first developed using Asp.Net MVC about 2 years ago and I decided to completely redesign everything from ground up. My goal of these personal projects is to always sharpen my skills, take on challenges and learn something new. I started in august last year and I haven't had a lot of free time since then. I worked on this after work and on weekends. Technology: For the front end, I started with Angular 2 using Angular CLI then upgraded to Angular 4 then to 5, Angular has evolved quickly since the release of Angular 2. For backend, I used c#, .Net Core Web API and Entity Framework Core along with Azure SQL Database. Other technologies used are Typescript, Bootstrap, CSS, and Html5. Before I started this project, even though I was comfortable with Angular already, I read "Pro Angular by Adam Freeman" from press and then read every single line on Angular documentation to ensure I am up to date and also to develop a better solution. My main focus here was on the Angular side of things but I believe I also did a great job with the back-end piece as well. This month I will be reviewing and cleaning up code and putting more validation in place at the API level and also working on unit testing for both the front end and back-end. I will use this project to stay up to date on angular and also use it as a starting point to learn and implement other technologies such as Progressive Web Apps (PWA) and etc.


                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- End of Timeline -->
            </div>
        </div>
    </div>
</section>

