<!--==========================================
                   SKILLS
===========================================-->
<section id="skills" class="section">
    <h4 class="text-uppercase text-center">Technical Skills</h4>
    <div class="container">
        <div class="row">

            <!-- Professional Skills -->
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="card content-wrapper skill-wrapper">
                    <h5 class="text-center skill-title">Languages/Expertise</h5>
                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>.Net Framework, C#, ASP.NET Web forms, .NET Core , Entity Framework Core, ASP.NET MVC, Web API, WCF</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa "
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>

                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>JavaScript, JQuery, knockoutjs, Angular 2 - 6, Typescript, Node.js, React JS, Redux, PWA</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa "
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>Html 5, CSS, Bootstrap</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa "
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>Dependency Injection, Unit Test, Code Review</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>Continuous Integration, Web Accessibility</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Personal Skills -->
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="card content-wrapper skill-wrapper">
                    <h5 class="text-center skill-title">Database / Servers</h5>

                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>Microsoft SQL Server</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa "
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>

                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>NoSQL - MongoDB, DynamoDB</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa "
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>                    
                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>Windows Server, Windows Azure, Amazon AWS</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa "
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                  
 
                </div>
            </div>

            <!-- Language Skills -->
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="card content-wrapper skill-wrapper">
                    <h5 class="text-center skill-title">Softwares/Libraries</h5>

                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>Microsoft Visual Studio, Visual Code</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>

                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>TeamCity, Octopus</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <!-- Add Skill -->
                        <p>TFS, Git, SourceTree.</p>
                        <!-- Edit Value Here -->
                        <div class="progress skill-progress" data-percent="100%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa "
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</section>

